<!-- <h1>Basics Component Start</h1> -->
<!-- <app-basics></app-basics> -->

<!-- <h1>Header Component Start</h1> -->
<!-- <app-header></app-header> -->

<!-- <h1>Form Component Start</h1> -->
<!-- <app-form></app-form> -->

<!-- Material UI -->
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

<!-- ToDo List -->
<!-- <app-todo-list></app-todo-list> -->

<!-- Send data parent to child component -->
<!-- <app-child [item]="data"></app-child> -->
<!-- <button (click)="updateChild()">Update Child Component</button> -->

<!-- Reusable Component -->
<!-- <ul *ngFor="let user of userDetails">
    <app-user-details [user]="user"></app-user-details>
</ul> -->

<!-- Send data child to parent component -->
<!-- <p>{{x}}</p>
<app-child (updateDataEvent)="updateData($event)"></app-child> -->

<!-- Two way binding -->
<!-- <div>
<input type="text" [(ngModel)]="firstName" />
<h2>Hello {{firstName}}</h2>
</div> -->

<!-- Template Reference variable -->
<!-- <app-basics></app-basics> -->

<!-- Basics of Pipes -->
<!-- <app-pipes></app-pipes> -->

<!-- New form -->
<app-new-form></app-new-form>